configuration {
    font: "Caskaydia Cove Nerd Font Propo 18px";
    show-icons: true;
    drun-display-format: "{icon} {name}";
    modi: "run,drun,window";
    display-run:    "";
    display-drun:   "󱕷";
    display-window: "";
}

@theme "theme.rasi"
